<form method="POST" action="/new">
  <p>Write Your Post</p>
  <label for="messageText">Text:</label>
  <br />
  <textarea
    name="messageText"
    id="messageText"
    oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';"
  ></textarea>
  <br />
  <button type="submit">Submit</button>
</form>
